<nav class="navbar navbar-dark bg-primary" style="background-color: black;">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand', style: 'color: white' %>

  <span class="nav navbar-text">
    <b><%= t('.header') %></b>
    <b><%= t('.welcome', admin_name: current_user.first_name) %></b> |
    <%= link_to t('.admin_panel'), admin_tests_path,
                style: 'color: white', class: 'nav-link' %> |
    <%= link_to t('.badge_panel'), admin_badges_path,
                style: 'color: white', class: 'nav-link' %> |
    <%= link_to t('.gists_table'), admin_gists_index_path, data: { method: :get },
                style: 'color: white;', class: 'nav-link' %> |
    <%= link_to t('.logout'), destroy_user_session_path, data: { method: :delete },
                style: 'color: white', class: 'nav-link' %>
  </span>
</nav>