<p>
  <h1><%= t('.title', title: @test.title) %></h1>
</p>

<p>
  <h1><%= t('.level', level: test_level(@test)) %></h1>
</p>

<p>
  <h2><%= t('.questions') %></h2>
  <p><h3><%= link_to t('.new_question'), new_admin_test_question_path(@test.id) %></h3></p>
  <ol><%= render partial: 'admin/questions/question', collection: @questions %></ol>
</p>

<%= link_to t('.edit'), edit_admin_test_path(@test) %> |
<%= link_to t('.back'), admin_tests_path %>