<p>
  <h1>Название теста: <%=	@test.title %></h1>
</p>

<p>
  <h1>Уровень: <%= test_level(@test) %></h1>
</p>

<p>
  <h2>Вопросы:</h2>
  <p><h3><%= link_to 'Новый вопрос', new_test_question_path(@test.id) %></h3></p>
  <ol><%= render @questions %></ol>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Назад', tests_path %>